@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.logo {
  width: 200px;
  height: 200px;
  align-self: flex-start;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logout {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-right: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.logoutIcon {
  width: 50px;
  height: 50px;
}

.logoutIcon:hover {
  transition: 0.3s;
  color: rgb(83, 83, 83);
}

.leftHeader {
  display: flex;
}

.pageTitle {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
}

.main {
  display: flex;
  justify-content: space-around;
}

.currentCollection {
  display: flex;
  justify-content: space-between;
  width: 600px;
  min-height: fit-content;
  padding-bottom: 20px;
  background-color: #e1e1e1;
  border-radius: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menuButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  align-self: center;
  align-content: center;
  color: #fff;
  background-color: #00aeef;
  text-align: center;
  border: none;
  border-radius: 10px;
  width: 631px;
  height: 70px;
  margin-bottom: 30px;
  cursor: pointer;
  text-decoration: none;
}

.menuButton:hover {
  background-color: #007daa;
  transition: 0.3s;
}

.currentTitle {
  margin: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
}

.itensTitle {
  margin: 20px;
  margin-bottom: -10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.dataStyle {
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.productData {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  margin-left: 30px;
}

.infoDiv {
  display: flex;
  margin-bottom: -20px;
}

.nameData {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  align-self: center;
}

.nameTitle {
  margin: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.editCurrent {
  height: 50px;
  width: 50px;
  border: none;
  background-color: #e1e1e1;
  margin-right: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.editCurrent:hover {
  color: #00aeef;
  transition: 0.3s;
}

.searchDiv {
  margin-top: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchInput {
  height: 30px;
  margin-left: 70px;
  background-color: #c4c4c4;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: left;
}

.searchInput::placeholder {
  color: #494949;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: left;
}

.searchButton {
  height: 45px;
  width: 45px;
  margin-top: -20px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  background-color: #c4c4c4;
}

.searchButton:hover {
  background-color: #007daa;
  transition: 0.3s;
}

.searchButtonIcon {
  height: 40px;
  width: 40px;
  align-self: center;
}

.searchButtonIcon:hover {
  color: #fff;
  transition: 0.3s;
}

.admPopDiv {
  display: flex;
  flex-direction: row;
  background-color: #5f5d5d;
  width: 1000px;
  padding: 20px;
  padding-bottom: 60px;
  border-radius: 10px;
  position: fixed;
  margin-top: -150px;
  top: 50%;
}

.admPopup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #f73c3c;
}

.admTitle {
  margin-left: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}

.admText {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  color: #fff;
  background-color: #5f5d5d;
  border: none;
  padding: 0px;
  margin-left: 30px;
}

#admLink {
  cursor: pointer;
}

#admLink:hover {
  color: #00aeef;
  transition: 0.3s;
}

.admExit {
  font-family: "Poppins", sans-serif;
  width: 30px;
  height: 30px;
  font-size: 25px;
  background-color: #5f5d5d;
  color: #fff;
  border: none;
  cursor: pointer;
}

.admExit:hover {
  color: #00aeef;
  transition: 0.3s;
}

.admPopupNone {
  display: none;
}

.searchResult {
  background-color: #e1e1e1;
  width: 1000px;
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 10px;
  padding: 10px;
}

.currentButtonSearch {
  margin-bottom: 20px;
  margin-top: -20px;
  margin-left: 20px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  background-color: #c2c2c2;
  border-radius: 10px;
  border: none;
}

.currentButtonSearch:hover {
  color: #fff;
  background-color: #007daa;
  transition: 0.3s;
}

.currentButtonSearch:active {
  padding: 8px;
}

.monthTitle {
  margin-left: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.nameResult {
  display: flex;
  margin-left: 30px;
  margin-top: -70px;
}

.instRes {
  font-family: "Poppins", sans-serif;
  margin-right: 10px;
  font-size: 25px;
}

.instNameRes {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 25px;
  font-style: italic;
}

.descRes {
  margin-left: 30px;
  border-left: solid;
  border-width: 5px;
  padding-left: 10px;
  border-color: #00aeef;
}

.descResP {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.idResult {
  display: flex;
  margin-left: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.idRes {
  font-weight: 700;
  margin-right: 10px;
}

.resButtons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.resButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  align-self: center;
  align-content: center;
  color: #fff;
  background-color: #00aeef;
  text-align: center;
  border: none;
  border-radius: 10px;
  width: 460px;
  height: 50px;
  margin-bottom: 30px;
  cursor: pointer;
  text-decoration: none;
}

.resButton:hover {
  background-color: #007daa;
  transition: 0.3s;
}

.resButtonR {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  align-self: center;
  align-content: center;
  color: #fff;
  background-color: #ff6363;
  text-align: center;
  border: none;
  border-radius: 10px;
  width: 460px;
  height: 50px;
  margin-bottom: 30px;
  cursor: pointer;
  text-decoration: none;
}

.resButtonR:hover {
  background-color: #f73c3c;
  transition: 0.3s;
}

.searchResultOff {
  display: none;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1260px) {
  .menuButton {
    width: 400px;
    font-size: 20px;
  }
  .currentCollection {
    width: 500px;
  }
}

@media only screen and (max-width: 940px) {
  .logo {
    width: 150px;
    height: 150px;
  }
  .menuButton {
    width: 350px;
  }
  .searchResult {
    width: auto;
  }
  .resButton {
    width: 350px;
  }
  .resButtonR {
    width: 350px;
  }
  .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu {
    flex-direction: row;
  }
  .menuButton {
    width: 200px;
    margin: 10px;
    font-size: 15px;
  }
  .pageTitle {
    font-size: 30px;
  }
  .descResP {
    font-size: 17px;
  }
  .descRes {
    padding-right: 40px;
  }
  .resButton {
    width: 300px;
    font-size: 20px;
  }
  .resButtonR {
    width: 300px;
    font-size: 20px;
  }
  .admPopDiv {
    width: 750px;
  }
  .admText {
    font-size: 20px;
  }
}

@media only screen and (max-width: 660px) {
  .logo {
    width: 150px;
    height: 150px;
  }
  .menuButton {
    width: 350px;
  }
  .searchResult {
    width: auto;
  }
  .resButton {
    width: 350px;
  }
  .resButtonR {
    width: 350px;
  }
  .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu {
    flex-direction: row;
  }
  .menuButton {
    width: 200px;
    height: 55px;
    margin: 10px;
    font-size: 15px;
  }
  .pageTitle {
    font-size: 30px;
  }
  .descResP {
    font-size: 17px;
  }
  .descRes {
    padding-right: 40px;
  }
  .resButton {
    width: 300px;
    font-size: 20px;
  }
  .resButtonR {
    width: 300px;
    font-size: 20px;
  }
  .admPopDiv {
    width: 600px;
  }
}

@media only screen and (max-width: 450px) {
  .pageTitle {
    font-size: 20px;
  }
  .logo {
    width: 70px;
    height: 70px;
  }
  .logoutIcon {
    width: 40px;
    height: 40px;
    margin-left: 20px;
  }
  .currentCollection {
    width: 300px;
  }
  .currentTitle {
    font-size: 20px;
  }
  .editCurrent {
    width: 40px;
    height: 40px;
  }
  .infoDiv {
    flex-direction: column;
  }
  .nameTitle {
    margin: 0;
    margin-left: 20px;
  }
  .nameData {
    margin: 10px;
    margin-top: 5px;
  }
  .searchInput {
    width: 300px;
    margin-left: 0;
  }
  .monthTitle {
    font-size: 30px;
  }
  .instRes {
    margin-top: 30px;
    margin-right: 5px;
    font-size: 15px;
  }
  .instNameRes {
    margin-top: 30px;
    font-size: 15px;
  }
  .descResP {
    font-size: 14px;
  }
  .searchResult {
    width: 350px;
  }
  .resButton {
    font-size: 13px;
    width: 150px;
  }
  .resButtonR {
    font-size: 13px;
    width: 150px;
  }
  .idResult {
    font-size: 14px;
  }
  .admPopDiv {
    width: 350px;
  }
  .admTitle {
    font-size: 25px;
  }
  .admText {
    font-size: 11px;
  }
}

@media only screen and (max-width: 395px) {
  .menuButton {
    font-size: 13px;
    width: 150px;
  }
  .admPopDiv {
    width: 300px;
  }
  .admTitle {
    font-size: 20px;
  }
  .admText {
    font-size: 9px;
  }
}
